@model IEnumerable<Dominio.ComplejoDeportivo>

@{
    ViewBag.Title = "MantenedorComplejo";
    Layout = "~/Views/MasterPage.cshtml";
}

<h2>Mantenedor Complejo Deportivo</h2>
<hr />
<p>
    @Html.ActionLink("Nuevo", "NuevoEditarComplejo", new { ComplejoDeportivoId = 0 }, htmlAttributes: new { @class = "btn btn-success" })
</p>
@if (ViewBag.mensaje != null)
{
    <div class="card-panel  green accent-4">
        <span class="white-text">@ViewBag.mensaje</span>
    </div>    
}
<div class="table-responsive">
    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoComplejo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreComplejo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PresupuestoAproximado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoComplejo.NombreTipoComplejo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComplejoDeportivoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoComplejo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreComplejo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PresupuestoAproximado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoComplejo.NombreTipoComplejo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "NuevoEditarComplejo", new { ComplejoDeportivoId = item.ComplejoDeportivoId }, htmlAttributes: new { @class = "btn btn-info" })
                        @Html.ActionLink("Eliminar", "EliminarComplejo", new { ComplejoDeportivoId = item.ComplejoDeportivoId }, htmlAttributes: new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


